table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 1000px;
}

td, th {
    border: 1px solid #fff;
    text-align: left;
    padding: 8px;
}

th{
    color: #fff;
    background-color: #6999ee;  
}

th, span{
    justify-content: flex-end;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
span{
    align-items: left;
}

.searchInput{
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    width: 150px;
    transition: ease-in-out, width .35s ease-in-out;
    box-shadow: 0px 0px 2px #0066ff;
    border-color: rgba(255, 255, 255, 0);
}

.searchInput:focus{
    width: 250px;
    outline: none;
    box-shadow: 0px 0px 2px #0066ff;
    border-color: rgba(255, 255, 255, 0);
}
.searchInputButton{
    margin-left: -35px;
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, 0);
}

.table{
    padding: 5px;
}

.containerSearch{
    flex-direction: row;
    align-items: flex;
    justify-content: flex-end;
    display: flex;
}